[2019-03-01 17:35] maxlibin opened #1 "howto link does not work"
Go to https://bambuser.com/docs/broadcasting/howto/ does not work, can you give a simple guide.

[2019-03-01 19:15] peterlofquist commented on #1
Ah that link seems to be out of date, sorry about the inconvenience! You can find the guides to get started with our broadcasting SDKs here: [Android](https://bambuser.com/docs/broadcasting/android/), iOS([Swift 3](https://bambuser.com/docs/broadcasting/ios-swift/), [ObjC](https://bambuser.com/docs/broadcasting/ios-objc/)).

I'll be sure to update the links in our README next time im at the office

[2019-03-01 19:15] #1 closed

[2019-03-03 09:19] VIRGO96 opened #2 ""Error" project path "libbabmbuser" couldnot found"
I am having rough time understanding the docs if anyone here could help me out what this line means and why do we need to add a subproject this line in docs i have pasted below
**Important note: when adding the libbambuser subproject, make sure you name it libbambuser, the React Native component will look for this subproject when building your React Native app.**

[2019-03-04 15:10] peterlofquist commented on #2
In order to use our react-native-bambuser-broadcaster component you'll have to include our SDK to your react-native project as well. When including the SDK to your project refer to [this guide, add-the-broadcast-sdk](https://bambuser.com/docs/broadcasting/android/#add-the-broadcast-sdk).

In the step where you import the `.aar` SDK file Android Studio will default the name of the to be imported mo

[2019-03-07 21:53] CyrusZei opened #3 "Invariant Violation:"
Invariant Violation: requireNativeComponent: "BambuserBroadcasterView" was not found in the UIManager.

This error is located at:
    in BambuserBroadcasterView (at react-native-bambuser-broadcaster/index.js:235)
    in RNBambuserBroadcaster (at MainScreen.js:48)
    in RCTView (at View.js:45)
    in View (created by Context.Consumer)
    in StyledNativeComponent (created by Styled(View))
    in S

[2019-03-08 10:13] CyrusZei commented on #3
Has this been tested with react 0.58.rc2 ?

[2019-04-29 08:10] jhltom commented on #3
I'm getting the same error. Is there a solution for this?

[2019-04-29 08:22] jhltom commented on #3
After install the dependencies and broadcast SDK, and enabling camera and microphone access I get this error on Xcode `linker command failed with exit code 1 (use -v to see invocation)`. Would this be related to the above error I'm getting?

[2019-04-29 08:24] #2 closed

[2019-04-29 08:46] peterlofquist commented on #3
I can reproduce this error mentioned above if I bypass the step to run the command `$ react-native link react-native-bambuser-broadcaster` after including the SDK and adding the yarn package `react-native-bambuser-broadcaster`.

After I run the command above it works as intended (just tested with react-native version 0.59.5). If you've already tried the above command and it still doesn't work plea

[2019-04-29 16:37] jhltom commented on #3
I fixed the problem, thanks! When adding the broadcast sdk I had renamed the `prebuild/`directory to `lbambuser` and was getting this error on xcode.

![Screen Shot 2019-04-30 at 1 29 27 AM](https://user-images.githubusercontent.com/43786249/56911496-01ffa980-6ae8-11e9-9e1c-0f1dfdfd6758.png)

So I changed the directory back to `prebuild`, then re-installed and linked `react-native-bambuser-broadca

[2019-04-30 08:47] peterlofquist commented on #3
@jhltom thanks for that information!

What seems to be happening here is that when you first include the SDK in your Xcode project your projects build settings add `$(PROJECT_DIR)/prebuilt/lib` to the `Library Search Paths` list. When you later change the `prebuilt` group name to `lbambuser` the `Library Search Paths` list is not updated with this new group name, hence the linker command fails whe

[2019-06-10 03:52] jhltom opened #4 "Populating the "tags" field and "customData" prop type"
Is there a prop to populate the "tags" field in the broadcast's metadata?

Also, when I try to populate `customData: Object` with an associative array such as `{"chat":"zxv", "tag":"travel"}` I get a warning saying `customData` is expecting a `string` not and an `object`

[2019-06-10 07:09] #3 closed

[2019-06-10 13:43] peterlofquist commented on #4
Thanks for the report!

I've pushed an update to NPM with version `0.0.8` of this repository, that version should have this issue fixed so it works on both Android and iOS.

Simply use `<RNBambuserBroadcaster customData={{ tags: 'foo', bar: 'beer' }} />` to attach your own custom data. 🙂

[2019-06-11 04:37] jhltom commented on #4
Given a `const customData` that successfully stores the `customData` metadata from a broadcast, `console.log(customData)` indeed prints `"{"foo":"bar", "bar":"beer"}"`  but `console.log(customData.foo)` prints `undefined`.

How can I access the data in `customData`? It looks like `customData` is returning a string not an object..!

[2019-06-11 06:26] peterlofquist commented on #4
@jhltom glad you found your way to use `JSON.parse()`, that function together with JSON.stringify() comes in very handy when transforming JSON objects to strings and vice versa! 🙂

Always happy to help, happy coding!

[2019-06-11 06:26] #4 closed

[2019-06-12 16:29] jhltom opened #5 "Updating customData field"
Is it possible to update the customData field after a broadcast has been created? For instance if we would to keep a count for likes in customData, would it be possible to update this with a http request?

[2019-06-12 21:57] seung1231 opened #6 "Mute microphone"
What would be the best way to mute broadcaster's microphone using bambuser API?

[2019-06-13 12:10] peterlofquist commented on #6
If you do not wish to record any audio for your broadcast you can turn this off by setting the component prop `audioQuality`, available values for this property is `RNBambuserBroadcaster.AUDIO_QUALITY.HIGH || RNBambuserBroadcaster.AUDIO_QUALITY.LOW || RNBambuserBroadcaster.AUDIO_QUALITY.MUTE`. Please beware that this property has a bit different behaviour iOS and Android, so be sure to read the do

[2019-06-13 12:10] #6 closed

[2019-06-13 12:25] peterlofquist commented on #5
No, it is not possible to update the customData after a broadcast have been started. I'd suggest you store this kind of metadata in some other data storage(database etc).

[2019-06-13 15:12] jhltom commented on #5
Thank you for your response!

[2019-06-13 16:22] jhltom commented on #6
Is there a way to mute an on going broadcast? The audioQuality prop allows users to start a broadcast mute but I was wondering if there is a way to turn on/off the mute feature while live streaming.

[2019-06-14 08:10] #5 closed

[2019-07-01 11:02] balu3083 opened #7 "Tried to Register twoviews"
Hi ,
Hi I am getting an error like "Tried to register two views with the same name  BambuserBroadcastView" help me to resolve this issue

Thanks
Balakrishnan

[2019-07-01 11:17] Vietvantue commented on #7
I think you should describe issue more details. With step to reproduce and screenshot.

[2019-07-02 07:06] peterlofquist commented on #7
Please provide some more information regarding this issue. When is it happening, what are you trying to accomplish? If possible, provide some pseudo code which would potentially make it easier for me to debug myself.

[2019-07-02 07:27] balu3083 commented on #7
Hi,
I have followed below steps to integrate  this sdk
1) I download the android sdk from the dashboard
2) I added the sdk in my project and added the path in settings.gradle file  (Inside the android platform)
include ':libbambuser'
project(':libbambuser').projectDir = new File('/libbambuser-0.9.17')
3)  I just link the module using below comment
" react-native link react-native-bambuser-broadcas

[2019-07-02 07:28] balu3083 commented on #7
<RNBambuserBroadcaster applicationId={yourApplicationId} />

[2019-07-02 07:29] balu3083 commented on #7
RNBambuserBroadcaster applicationId={yourApplicationId}

[2019-07-02 11:24] Vietvantue commented on #7
I think you should set style to your RNBambuserBroadcaster.
style={{ flex: 1}}

[2019-07-02 12:11] balu3083 commented on #7
tried the above style not working

[2019-07-02 17:27] Vietvantue commented on #7
Let try it: https://labs.bambuser.com/mg/App.js

[2019-07-03 06:52] balu3083 commented on #7
Hi ,

When I try the above code I am getting black rectangle at right corner
![Screenshot_20190703-115813](https://user-images.githubusercontent.com/45266052/60569191-5810f780-9d8c-11e9-80b2-47a16748d7c1.png)

Also I have tried the samecode  with broadcaster this is also giving the same result screen  no camera has opened  please find my broadcast code from below link

https://drive.google.com/fil

[2019-07-03 07:24] balu3083 commented on #7
Hi,
Camera is enabled now . It was a camera permission issue but I couldn't see the broadcasting video on bambuser player(https://dist.bambuser.net/player/)   aswell as my app player  please check my streamer
code and let me know what else I need to add
https://drive.google.com/file/d/1FY3q9YsSYcFtUXPPuj-1pq9TZwjxK-pQ/view?usp=sharing

Thanks
Balakrishnan

[2019-07-03 08:32] balu3083 commented on #7
Hi,
Now it is working :) I just called startBroadcast method after 5 seconds delay. Thank you so much for your help
Thanks
Balakrishnan

[2019-07-03 08:32] #7 closed

[2019-07-23 03:12] amdrade opened #8 "Execution failed for task ':app:installDebug'."
Erro on run ` react-native run-android`

Use:
react: 16.8.6,
react-native: 0.60.3,
react-native-bambuser-broadcaster: ^0.0.8

[2019-08-07 12:30] peterlofquist commented on #6
Sorry for the late reply. As of right now you can not mute a ongoing live stream.

[2019-08-15 03:34] rstcom919 commented on #8
"react": "16.8.3",
 "react-native": "0.59.8",
 "react-native-bambuser-broadcaster": "0.0.8",

Please use these versions: it is working well on my side

[2019-08-19 20:09] dineshmatta opened #9 "When opening the camera getting lot of errors and finally the app is crashing when broadcasting"
App works in my android debug apk, but when I generate the apk for release , I am getting following erros when opening the camera

[code]

while these errors are continuously coming in the console, when I start live-stream it records for few seconds and then app crashes

[code]

[2019-08-19 20:13] dineshmatta commented on #9
Main three errors I can see are :

[code]

[2019-08-20 13:42] dineshmatta commented on #9
Just an update on what I mean by debug APK is working,  it is the actual APK generated using gradle command and installed on my phone and not running in any emulator

[2019-08-22 00:39] dineshmatta commented on #9
Just to give an update on this issue, since I was using expokit that was causing the above errors, I tried this package in bare react-native project and it worked in android, but on Ios I am still getting the issue while building this project

[2019-08-22 00:39] #9 closed

[2019-08-22 00:40] dineshmatta opened #10 "Cannot build project in Xcode 10"
I started the project from scratch in react-native and after following all steps for ios, I am getting the following errors in Xcode

`Could not build module 'UIKit'`

![image](https://user-images.githubusercontent.com/1083007/63477630-f730a200-c453-11e9-8e37-0a57ef3e85db.png)

[2019-08-26 19:37] dineshmatta opened #11 "Warning - Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'."
WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
Affected Modules: react-native-bambuser-broadcaster, react-native-bambuser-player

Perhaps maintainers of this lib need to update these libraries

[2019-08-27 06:48] peterlofquist commented on #8
Reopen if issue persists.

[2019-08-27 06:48] #8 closed

[2019-08-29 04:53] Vietvantue opened #12 "onPictureSaved triggered when saving local video instead of onLocalCopySaved in Android"
When I set **localCopy** to **true** and declare **onLocalCopySaved**, it is never triggered. Instead, **onPictureSaved** was triggered with filePath is local video's file path.

From your source code I got this:

- Register Broadcast

[code]

- Send event to JS:

[code]

[2019-08-29 07:14] peterlofquist commented on #12
Thank you for raising this issue! You are very well correct that the wrong callback is called from the LocalMediaObserver.

I'll fix this asap.

[2019-08-29 12:16] peterlofquist commented on #10
Thank you for the patience. We've now updated our React Native component to play nicely along with React Native 0.60+. Please follow the updated README.md for this project, it'll point you in the correct direction.

Please open again if you still have issues.

[2019-08-29 12:16] #10 closed

[2019-08-29 12:17] peterlofquist commented on #12
I fixed the issue here: https://github.com/bambuser/react-native-bambuser-broadcaster/commit/9ec2483f2e9f710c68d896af1546d2a6c6de7b48

Please reopen issue if you still experience this problem. :-)

[2019-08-29 12:17] #12 closed

[2019-08-29 12:19] peterlofquist commented on #11
Thank you for raising this issue, we'll silence this warning in an upcoming release.

[2019-08-29 12:19] #11 closed

[2019-08-30 10:16] emvigotech opened #13 "Invariant Violation "BambuserPlayerView" was not found in the UIManager"
Platform: iOS
React Native: 0.58.6,
Xcode: 10.1
react-native-bambuser-broadcaster: 0.0.8,
react-native-bambuser-player: 0.0.12,

Hi

I have integrated as per the doc https://bambuser.com/docs/broadcasting/ios-objc/
I had linked react-native-bambuser-broadcaster manually also manually integrated iOS Broadcast SDK manually without using cocoapod.(Install dependencies manually)

I am able to broadcas

[2019-09-02 07:53] peterlofquist commented on #13
We currently only support the latest React Native version, if you wish to use an older version of React Native, in your case `0.58.6` I'd suggest you do the following:

1) Install libbambuser via Cocoapods (or manually, it should work the same way, you might have to change some libbambuser import line after step 4, Xcode will tell you more about it).
2) Run `yarn add react-native-bambuser-player`.

[2019-09-03 05:59] emvigotech commented on #13
Thanks it worked

[2019-09-03 05:59] #13 closed

[2019-09-17 03:54] dineshmatta opened #14 "After using zoom property getting error"
Hi,

Getting below error when using zoom property on **RNBambuserBroadcaster** component

![Screenshot_20190916-232134](https://user-images.githubusercontent.com/1083007/65009747-cf5e1e00-d8db-11e9-8216-a7b38b9be420.jpg)

[2019-09-18 10:29] Vietvantue opened #15 "setCustomData is set value of title when title props is set."
When I set customData props and title props, in dashboard title display correct, but webhook receive customData set as title.

Here the code I got from Android module:
[code]

[2019-09-18 11:06] zoitrok commented on #15
#16 should resolve this.

[2019-09-18 11:13] #15 closed

[2019-09-19 01:53] dineshmatta commented on #14
Hi @peterlofquist

Can you please look at the above issue, as this feature is really important for us before we release our app

[2019-09-19 12:03] peterlofquist commented on #14
Should be fixed here: 3a08fca49b5491e2a649d70fa887fef21597dde3

Please reopen issue if issue still exists after updating the component to `0.0.11`. Happy coding!

[2019-09-19 12:03] #14 closed

[2019-10-19 00:52] dineshmatta commented on #14
Hey @peterlofquist

I tested the zoom prop with all the possible values between 0 and 1 and it looks like zoom feature doesn't work on all the values, for example, if I add a slider in my react native app which emits the values like 0.1, 0.3, 0.4, 0.5078125, 0.5390625,  0.6640625, so after it works for some initial value and at some points it doesn't matter which value I choose for zoom it doesn't

[2019-10-22 00:18] dineshmatta commented on #14
Hi @peterlofquist

Did you get the chance to look at the above issue, as it stopping us from using the slider in our camera view

[2019-10-22 03:16] dineshmatta opened #17 "zoom prop doesn't work for all the values between 0 and 1"
Hey @peterlofquist

I tested the zoom prop with all the possible values between 0 and 1 and it looks like zoom feature doesn't work on all the values, for example, if I add a slider in my react native app which emits the values(between 0 and 1) like 0.1, 0.3, 0.4, 0.5078125, 0.5390625, 0.6640625, so after it works for some initial value and at some points it doesn't matter which value I choose for

[2019-11-12 13:51] peterlofquist commented on #17
Sorry for getting back to this issue with some slight delay. I have not been able to reproduce this issue on either iOS or Android. Could you point me towards some steps to reproduce this issue?

The code I've verified that works with the latest version of react-native(0.61.4) and react-native-bambuser-broadcaster(0.0.11).

[code]

[2019-12-03 03:33] ayha opened #18 "libbambuser.h file not found."
Just tried to run the broadcaster library but failed to compile.

Error: libbambuser.h file not found.

Environment:
    "@react-native-community/datetimepicker": "^2.1.0",
    "firebase": "^7.2.2",
    "lodash": "^4.17.15",
    "react": "16.9.0",
    "react-native": "0.61.3",
    "react-native-bambuser-broadcaster": "^0.0.11",
    "react-native-gesture-handler": "^1.5.0",
    "react-native-image-

[2019-12-03 12:37] peterlofquist commented on #17
Closing - please open if this issue still persists

[2019-12-03 12:37] #17 closed

[2019-12-03 13:31] peterlofquist commented on #18
Do you install it via the `pod install` method, or the manual way?

Could you provide some additional information to help me reproduce this issue? I followed the step by step in the README found in this repository and I don't receive the same error.

[2019-12-16 13:33] peterlofquist commented on #18
Closing due to inactivity - please reopen if issues still persists

[2019-12-16 13:33] #18 closed

[2020-01-19 15:06] snobear commented on #18
I hit the same issue on RN 0.61, after doing yarn add and then pod install. The issue is the libbambuser dependency isn't listed in the podspec, so I created a PR for it: #19.  Otherwise, you'd need to add it to your own Podfile or install manually.

[2020-01-19 15:36] snobear opened #20 "Component 'BambuserBroadcasterView' re-reregistered direct event 'topPictureSaved' as a bubbling event"
Hi, I'm getting the following error when trying out `react-native-bambuser-broadcaster` on iOS:

[code]

![Screenshot 2020-01-19 at 10 28 13 AM](https://user-images.githubusercontent.com/696230/72683572-847d2e80-3aa6-11ea-94bf-4fe0ff59427c.png)

This happens as soon as I build and run the app from Xcode on my device (iPhone 7+, iOS 13.3).

Here is my screen component:

[code]

Here are the pod ver

[2020-01-20 09:51] peterlofquist commented on #20
I can't reproduce this issue with a clean install. From what I'm reading from other react-native components which had an similar issues is that some other component might also use the event name `PictureSaved` in the form of a `RCTBubblingEventBlock,` and therefor present this issue.

It would be very helpful if you could try out this branch with your current project and see if you still receives

[2020-01-20 21:37] snobear commented on #20
Hi @peterlofquist, thanks for the info. That makes sense. I'm confused on the name scheme though. I searched for `PictureSaved` and `topPictureSaved`, but not finding anything. Would the event be called `onPictureSaved`? If so, I think the conflict is in react-native-camera:

https://github.com/react-native-community/react-native-camera/blob/fe5d11d12fe2a7eb7d0582776f260415f1b2865b/ios/RN/RNCamera

[2020-01-20 22:05] snobear commented on #20
I commented that line out in `node_modules/react-native-camera/ios/RN/RNCameraManager.m` but now getting a new conflict:

![image](https://user-images.githubusercontent.com/696230/72760368-83332b00-3ba6-11ea-8142-2e2f1f49f488.png)

I assume there is no way to get around the conflicts, other than for me to maintain a fork of either this lib or react-native-camera :(. Shame that React Native doesn't

[2020-01-21 08:25] peterlofquist commented on #20
Maybe React-Native do some magic with event names to match some kind of internal protocol. I'll update https://github.com/bambuser/react-native-bambuser-broadcaster/tree/direct-event during the day to change more `RCTBubblingEventBlock` to `RCTDirectEventBlock` which might help to mitigate this issue.

If that doesn't help I guess we'll need to add an unique naming our event names anymore. 🙃

[2020-01-21 15:11] snobear commented on #20
OK sorry you have to rename things!  On another note, I tried with a fresh RN project per RN docs:

[code]

Then added entries to `Info.plist` for:
- Privacy - Camera Usage Description
- Privacy - Microphone Usage Description

Then changed App.js to:

[code]

However when I tap the button, nothing is happening and logs indicated `this.myBroadcasterRef.startBroadcast()` is undefined. Did I miss a s

[2020-01-22 05:40] peterlofquist commented on #20
I've updated the branch above(https://github.com/bambuser/react-native-bambuser-broadcaster/tree/direct-event) to also change the `onCameraReady` to a `RCTDirectEventBlock` property to see if that solves the `topCameraReady` issue. I'll try to reproduce this issue shortly.

I tested the code above and it worked fine. `onBroadcastError` should be triggered if the broadcast couldn't invoke the `star

[2020-01-22 23:16] utsavtiwary04 opened #21 "Invariant Violation : requireNativeComponent "BambuserBroadcasterView" was not found in the UIManager"
Hi ! I am very new to react-native (have react experience though) and wish to know how to go about fixing this issue. I have tried a lot but in vain. Any help would be really appreciated !

Steps :
1. Installed Expo
2. Created a barebones application using Expo
3. Installed `react-native-bambuser-broadcaster` using yarn
4. Started the application (`expo start`)

Attaching a screenshot for referenc

[2020-01-27 19:14] snobear commented on #20
Thanks @peterlofquist . Just a heads up I'm tied up at the moment, but plan on revisiting this shortly to test.

[2020-02-04 08:44] peterlofquist commented on #21
Did you follow this section regarding installing dependencies via cocoapods as well? https://bambuser.com/docs/broadcasting/ios-objc/#install-dependencies-using-cocoapods

I'm not quite familiar with Expo but I'll try to squeeze some education time in the coming of days and see if I can reproduce this issue.

[2020-02-06 10:21] nttung291 opened #22 "[Android] Crash on Android setZoom() and AudioCapturer"
I got the crashes on fabric and dont know how to investigate it. May be it casued by bambuser sdk. I use react-native-bambuser and found no proplem in JS .

It looks like the onCameraPreviewStateChanged callback in that component will call setZoom() without condition - even when the camera is going away (and setZoom() should not be called). Looks like it's a race condition that might trigger that

[2020-02-07 08:47] peterlofquist commented on #22
Thanks for the issue report!

We just released a new version of the react-native-bambuser-broadcaster (0.0.13) which should fix the issue with the potential race condition which could occur.

We're still working on the second issue in this issue report. I'll get back to you when I know more!

[2020-02-11 16:38] ceefour opened #23 "[bug] error: package android.support.annotation does not exist import android.support.annotation.Nullable;"
It seems `react-native-bambuser-broadcaster` still uses old android packages instead of androidx.

Currently I cannot compile the project using react-native 0.61.5.

[code]

## Workaround

(from https://stackoverflow.com/a/56876517/122441):

Execute

    npm install --save-dev jetifier
    npx jetify
    npx react-native run-android

In your package.json add the following to scripts

      "postin

[2020-02-11 17:31] felippepuhle commented on #20
We're using `react-native-camera` and after installing `react-native-bambuser-broadcaster` we got `Component 'RNCamera' re-registered bubbling event 'topPictureSaved' as a direct event`

I think there is some event name conflict, see https://github.com/react-native-community/react-native-camera/issues/2620

[2020-02-11 17:33] felippepuhle opened #24 "Auto start"
Is there a way we can add auto start broadcasting?

I'm trying to implement mysel, but sometimes I get `onStartBroadcastNotReady`.

Thanks!

[2020-02-13 15:21] felippepuhle commented on #4
@peterlofquist I think there's some misbehavior on this approach.

I want to populate 'tags' metadata, I don't want to add a new 'tags' field on customData.

Is that possible? Can we reopen this issue?

Thanks!

[2020-02-14 12:54] peterlofquist commented on #24
Yes you can implement this yourself by using the `onCameraReady` + `onStartBroadcastNotReady` callbacks.

When you first receive the `onCameraReady` event you can call the `this.myBroadcasterRef.startBroadcast();`. If you get the `onStartBroadcastNotReady` you set a small timeout and then retry again with the `.startBroadcast()`. You'll have to build your own logic to gradually back off and make a

[2020-02-14 12:59] peterlofquist commented on #20
@felippepuhle there's a potential fix for this issue in this branch: https://github.com/bambuser/react-native-bambuser-broadcaster/tree/direct-event

If you can please test that out and verify that this solves the naming conflict issue with react-native-camera I'll make sure to update our component with the branch mentioned above.

[2020-02-14 13:04] peterlofquist commented on #4
@felippepuhle take a look here: https://bambuser.com/docs/broadcasting/features/#using-hashtags

If you want to populate the 'tags' metadata you provide that in the title field as `#myTag` for the broadcaster component.

[2020-02-14 15:03] felippepuhle commented on #4
@peterlofquist that's awesome, didn't notice it. thanks!

[2020-02-14 15:04] felippepuhle commented on #24
@peterlofquist already doing this `auto-retry`, but it's not the perfect solution IMO. I was wondering if there's a way we can receive a `broadcast ready` event in the future (it's not urgent, BTW).

Thanks!

[2020-02-14 15:35] felippepuhle commented on #20
@peterlofquist I'll take a look later on, thanks!

[2020-02-18 12:11] jrfurini commented on #20
Hi @peterlofquist , I am using Bambuser as a producer and inclued RNCamera in other screen and got this error explained at first message.

I followed your commit "1c607d62f2e9073f45a2dec9f7697b6805c95aef", changing files "BambuserBroadcasterViewManager.m" and "BambuserBroadcasterView.h" and everything worked fine.

Thanks.

Please let me know when it is a final version

[2020-02-18 13:10] felippepuhle commented on #20
Yes! It seems to be working here too! Thanks guys!

[2020-02-21 10:32] jrfurini commented on #20
Hi @peterlofquist , I am using Bambuser with RNCamera and CameraRoll too. After these changes in my code, I couldn't save pictures at CameraRoll. Videos are ok, I can save videos after Live Stream right.

[2020-02-25 13:20] #22 closed

[2020-02-25 13:43] peterlofquist commented on #21
Closing due to inactivity.

[2020-02-25 13:43] #21 closed

[2020-02-25 13:44] peterlofquist commented on #24
I'll take note of this feature request and we'll see what we can do. :-)

[2020-02-25 13:44] #24 closed

[2020-02-26 09:40] peterlofquist commented on #20
I am not quite sure I follow what your issue is here.

I tried with `react-native-camera` & `CameraRoll` linked to the same project as `react-native-bambuser-broadcaster` and I could save pictures taken with `react-native-camera` with `CameraRoll` just fine.

Can you explain a bit further what you mean with 'save videos after live stream'?

[2020-02-26 12:33] peterlofquist commented on #20
@jrfurini I found that CameraRoll expected to get a file url instead of path in order to save images. I updated version 0.0.15 to instead give you a proper file URL, just like the onLocalCopySaved callback returns.

 0.0.15 also includes the switch from bubbling to direct events, and hence everyones issues in here should be solved. Closing issue and feel free to open if any errors still occur.

[2020-02-26 12:33] #20 closed

[2020-02-26 13:01] peterlofquist commented on #23
Thank you for this issue report. I included `jetify` in `react-native-bambuser-broadcaster 0.0.16`

Closing issue, please open again if you still are having problems.

[2020-02-26 13:01] #23 closed

[2020-03-03 08:19] NareshMedipally opened #25 "Unable to open the camera view but broadcast was working."
When tried to call startBroadcast() method, I'm unable to open the camera view on iOS whereas the broadcast is started and I'm able to see in bambuser console. Is there anything that I'm missing in terms of configuration? Below are the versions
react-native-cli: 2.0.1
react-native: 0.61.5

Thanks in advance :)

[2020-03-04 08:25] peterlofquist commented on #25
Hi, and thanks for the issue report!

Have you tried to set a size to the react-native-bambuser-broadcaster component? It sounds like in your description that the instance is available but maybe isn't rendered because you have not given it a size yet.

If that doesn't work, could you then send some example code to help me reproduce this issue? :-) Many thanks!

[2020-03-04 08:31] NareshMedipally commented on #25
Thanks @peterlofquist, Forgot to set the size of the component.Able to see it now :)

[2020-03-04 08:31] #25 closed

[2020-03-06 14:30] karanpratapsingh commented on #25
@NareshMedipally hey this helped me, however I'm not able to start the broadcast, when i call . startBroadcast() method I cannot see anything on the dashboard, could you share which props are necessary for that, that'd be huge help.
Thank you

[2020-03-08 04:31] NareshMedipally commented on #25
@karanpratapsingh  In terms of props I have passed reference,applicationId to the RNBambuserBroadcaster component.

Have you created standalone project or cloned from  [(https://github.com/bambuser/react-native-bambuser-broadcaster)]?

[2020-03-09 09:13] ankitgauravapporio opened #26 "'libbambuser.h' file not found"
Hi all , i am using react native  version 0.59.0 , due to my other dependencies, can anyone please guide me how to integrate and 'libbambuser.h' file not found  will be removed, thank you

[2020-03-17 10:13] peterlofquist commented on #26
Thanks for your issue report!

Please refer to this documentation to use this component in react native version 0.59.0: https://github.com/bambuser/react-native-bambuser-broadcaster/blob/4d0cac0f55bfce156be7ecda55d69f251d824c4c/README.md

[2020-03-17 14:00] ankitgauravapporio commented on #26
hello Peter , thank you for your support

cheers

On Tue, Mar 17, 2020 at 3:43 PM Peter Löfquist <notifications@github.com>
wrote:

[2020-03-20 07:35] ankitgauravapporio commented on #26
@peterlofquist can you please provide any example documentation , thanks in advance

[2020-03-26 18:58] maniart opened #27 "Error with imporing SDK as Module in Android Studio"
Hello world,

I'm working on integrating the SDK with an existing React Native app. My Android development environment is setup and I've been closely following steps [suggested in the docs](https://bambuser.com/docs/broadcasting/android/#add-the-broadcast-sdk).

With the top level `./android` directory of my React Native open in Android Studio, when I open the module settings for the top level dir

[2020-03-27 14:04] andreasbergqvist commented on #27
Not sure if it helps.
But for me it worked (did it today), just opened the React Native android folder in Android Studio (3.6) right clicked the app-folder and selected "Open module settings". Clicked the + and selected the .aar file.

[2020-03-27 14:26] maniart commented on #27
Thanks @andreasbergqvist this is exactly what I did, and this is the response I get:

<img width="889" alt="Screen Shot 2020-03-27 at 8 23 48 AM" src="https://user-images.githubusercontent.com/1562309/77766010-73f0b380-7015-11ea-9187-57cdc2aa8985.png">

[2020-03-27 14:38] andreasbergqvist commented on #27
Hmm, this is how my "Open module settings" dialog looks like.
Not sure if we have different versions of Android Studio or if it differs between Windows and Mac.

Did you right click the "app"-folder when selecting "Open module settings"?

![image](https://user-images.githubusercontent.com/1663126/77767006-b976a600-7040-11ea-9af9-51bf44aec699.png)

[2020-03-27 14:44] maniart commented on #27
Huh! did you open `./My-RN-Project/android` in Android Studio and then right click on the `android` directory in the file panel on the left side > Open Module Settings?

[2020-03-27 14:49] maniart commented on #27
I'm using Android Studio 3.6.1 and when right clicking on the `app` directory, I am not presented with the `Open Module Settings` option at all. Did you have to click on `Make Module` first?

[2020-03-27 14:59] maniart commented on #27
Making progress. `File > Sync Project with Gradle files` is now allowing me to find `Open Module Settings` option under `app`

[2020-03-31 13:30] peterlofquist commented on #26
It is fully documented in the link I mentioned above. Underneath here is a quick list but please refer to full documentation for any more details.

1. Add react-native-bambuser-broadcaster to your React Native project.
`$ yarn add react-native-bambuser-broadcaster@0.0.8 --save`

2. Download iOS & Android SDKs from https://dashboard.bambuser.com/developer

3.1 Android only: Head over to https://bam

[2020-03-31 13:34] peterlofquist commented on #27
Did you get this sorted out?

Gradle & Android Studios is not my realm of expertise. Can you import any `.aar` file to your modules panel?

[2020-04-01 19:04] snobear opened #28 "Are separate android and ios applicationIds required?"
When creating an application Id, which one should be used for React Native?

![image](https://user-images.githubusercontent.com/696230/78175978-c07b2b00-7429-11ea-99c7-92329f5fd3ee.png)

Is it required to use iOS for iOS, and Android for Android? Or will one of these selections work for both?

Also, I realize this should be fetched from the backend, which I'll implement later, but just want to con

[2020-04-03 11:40] baotoan1905 opened #29 "Can you provide an example ?"
I followed the instruction for react-native 0.60.0 but when tried it out in android, nothing doesn't seem to work, no error, no event callback
import RNBambuserBroadcaster from 'react-native-bambuser-broadcaster';

<RNBambuserBroadcaster
        applicationId={applicationId}
        ref={ref => {
          myBroadcasterRef = ref;
        }}
        onBroadcastStarted={handleOnBroadcastStarted}

[2020-04-05 10:48] peacepostman commented on #29
Hello, same problem here, all seems to be well imported but nothing happens, i'm also requesting permissions for camera and audio but like @baotoan1905 , nothing is happening :/

[2020-04-05 11:46] baotoan1905 commented on #29
@peacepostman I was able to make it work by add property style={{ width: 200, height: 200 }}, You can change width and height with your value.
Hope it can helps.

[2020-04-05 12:28] peacepostman commented on #29
Okay, thanks for your feedback, i will have a look, did you try on ios too ?

[2020-04-05 13:06] baotoan1905 commented on #29
I haven't tried it yet. Will try later.

[2020-04-06 09:22] peacepostman commented on #29
It's fully working on android, thanks mate

[2020-04-09 12:09] karanpratapsingh commented on #28
yes, both are required

[2020-04-10 18:10] snobear commented on #28
OK thanks @karanpratapsingh for confirming.

[2020-04-10 18:10] #28 closed

[2020-04-16 01:41] bfarrgaynor commented on #27
Yeah I found these instructions a little unclear too. I was able to add the module, but the part where you go to add the dependency is not accurate and I'm also kind of stuck on it. It seems as though the instructions should be made a little clearer for RN specifically.

[2020-04-16 01:45] bfarrgaynor opened #30 "Does this project require react-native link?"
It seems as though you might be missing a 'react-native link' in the instructions here: https://github.com/bambuser/react-native-bambuser-broadcaster#to-automatically-link-this-react-native-module-to-your-xcodeandroid-projects-run-the-following-command

[2020-04-16 03:06] bfarrgaynor commented on #29
Hey guys, what was the issue here? Was it the permissions afterall?

[2020-04-16 13:12] bfarrgaynor opened #31 "onBroadcastStarted how to get URI"
When I start a new broadcast how do I pull the associated URI that is created so that I can send it our to peers to watch? The docs don't seem to suggest this is passed back on start broadcast? I see there is a way to grab a list though a separate call in the API, but assuming it's possible to handle multiple streams concurrently how do I know I've got 'this' one?

[2020-04-16 13:27] bfarrgaynor commented on #31
Looks like onBroadcastIdReceived() is what I'm looking for.

[2020-04-16 13:27] #31 closed

[2020-04-17 03:58] baotoan1905 commented on #29
Hi @bfarrgaynor Yes, we missed the configuration in android for permission.
@peacepostman It now works great in both android and ios.

[2020-04-20 07:21] peterlofquist commented on #29
Closing issue

[2020-04-20 07:21] #29 closed

[2020-04-20 07:29] peterlofquist commented on #27
Could you provide more specific feedback regarding the bold part here?

[2020-04-20 07:34] peterlofquist commented on #30
If you are using RN version 0.60 or under you should use the version 0.0.8 of this repository. The README for that version has the link command documented.

https://github.com/bambuser/react-native-bambuser-broadcaster/blob/4d0cac0f55bfce156be7ecda55d69f251d824c4c/README.md#to-automatically-link-this-react-native-module-to-your-xcodeandroid-projects-run-the-following-command

Additional info
https

[2020-04-20 07:34] #26 closed

[2020-04-20 11:00] bfarrgaynor commented on #30
Thanks @peterlofquist. I was able to get it going!

[2020-04-20 11:00] #30 closed

[2020-04-20 11:04] bfarrgaynor commented on #27
There's a gap in the instructions. The first part where you add the module with your 'android' folder focused and the second part where you add the dependency are distinct actions where you open the window, complete the action, then open it again with the 'app' folder focused. Part 1 is android folder, part 2 is 'app' folder. I was able to figure it out, but the instructions make it seem like it's

[2020-04-23 08:11] ankitgauravapporio opened #32 "_OBJC_CLASS_$_BambuserView"
Hi Everyone , i am using     "react-native-bambuser-broadcaster": "0.0.8",
 for     "react-native": "^0.59.2",
having trouble in running on iOS

[2020-04-23 11:39] ankitgauravapporio commented on #32
Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_BambuserView", referenced from:
      objc-class-ref in libRNBambuserBroadcaster.a(BambuserBroadcasterView.o)
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-04-24 05:25] ankitgauravapporio commented on #26
Hi @peterlofquist , the issue still exist in .059.2 after doing all the integration , #18 is for higher version , so can you help me for lower versions

[2020-04-27 18:08] #32 closed

[2020-05-16 22:33] kolyuchii opened #33 "Can't start broadcasting on react-native ios application"
Hi there!

I'm trying to use broadcasting with react-native-bambuser-broadcaster but after open the page I see nothing.

A package was installed according to the README and there is no error when building the application.

Also, no error from onBroadcastError or onStartBroadcastNotReady

Only onUplinkTestComplete says 267371.093750 1

`
    componentDidMount() {
        this.myBroadcasterRef.start

[2020-06-12 00:27] dineshmatta opened #34 "Android - startBroadcast() function doesn't work on Android - react native 0.61.5version"
Hello,

we are using
react-native - 0.61.5
bambuser sdk - 0.9.21

I followed exact procedure as per these docs - https://bambuser.com/docs/broadcasting/android/#add-required-android-app-permissions-and-features

So in the front-end camera starts after RNBambuserBroadcaster component is initialized, when I call, startBroadcast method  nothing happens, but when I use other functions on the ref, they

[2020-06-20 14:03] ithustle commented on #26
Same here on RN 0.62.2

[2020-06-24 04:36] dineshmatta commented on #34
Looking at the device logs, I see below error when starting the broadcast

Access denied finding property "persist.camera.pdaf_profiling"

@peterlofquist do you have any idea on this?

[2020-06-24 05:15] dineshmatta commented on #34
THis issue is fixed now, it was coming because lack of audio permission

[2020-06-24 05:15] #34 closed

[2020-07-15 17:25] ithustle commented on #33
Any luck?

[2020-07-18 19:06] ithustle opened #35 "Keep device awake while broadcasting"
I'm using libbambuser 0.9.22 on RN 0.62.
Device don't wake lock while broadcasting. Is there a step that I missed?

[2020-08-14 23:22] BeckyWu220 commented on #33
Hi @kolyuchii I experienced the same issue on my side. However, I was able to see the live streaming video from the Bambuser dashboard under the Live section. Even though, nothing is display on my iOS device screen, it seems to be streamed to the server. I would be interested to know how to visually show the video that is being recorded while broadcasting.

[2020-10-10 17:06] MalcolmTomisin opened #37 "RNBambuserBroadcaster component renders black view on screen"
Running the RNBambuserBroadcaster component makes a black square on screen.

    render(){
        if(typeof this.myBroadcasterRef !== 'undefined'){
            this.myBroadcasterRef.startBroadcast();
        }

        return(
            <View style={{flex: 1}}>
                <RNBambuserBroadcaster
                style={{width: 200, height: 200}}
                    ref={ref => {this.myBroadc

[2020-10-13 03:04] dungfly98 opened #38 "RNBambuserBroadcaster Flashlight is not supported for android devices"
Hi there!

**I am using the library:**
- "react": "16.9.0",
- "react-native": "0.61.2",
- "react-native-bambuser-broadcaster": "^0.0.17",
- "react-native-torch": "^1.1.5",

**I have tried to turn on the flash on android device but with no success and I got the error below:**
Rear Camera: "Error: CAMERA_IN_USE (4): setTorchMode:1514: Torch for camera \"0\" is not available due to an existing camera

[2020-11-11 14:08] priyak-sdei opened #39 "Video Quality in very Low"
The recorder video is of very low quality we also tried

[2021-01-02 13:23] ankitgauravapporio commented on #18
HI @peterlofquist , the issue persists in   "react": "16.13.1",
    "react-native": "0.63.2"
    i have install the package through npm
        "react-native-bambuser-broadcaster": "0.0.17",
then change the directory to ios and run the pod install command
, again starting the npm start , run  the project on xcode the build was failed giving me the same error as 'libbambuser.h' file not found in Ba

[2021-01-07 04:43] Jedi-hongbin opened #40 "Can't run the project, get involved in this library correctly, please help me"
I created a new react native project and executed `yarn add react-native-bambuser-broadcaster --save`
then`cd ios` `pod install`
last `yarn ios`
I don't know if it helps to report some errors
![image](https://user-images.githubusercontent.com/43171388/103851380-9f481900-50e4-11eb-8103-f201c7679f22.png)

![image](https://user-images.githubusercontent.com/43171388/103851288-6314b880-50e4-11eb-891d-b

[2021-01-08 08:58] ken-bam commented on #40
Update to version 0.0.18(just recently released) of react-native-bambuser-broadcaster and try again.

[2021-01-08 09:15] Jedi-hongbin commented on #40
**Thank you very much.**

[2021-01-08 09:37] Jedi-hongbin commented on #40
@ken-bam  Have you considered supporting Expo

[2021-01-08 11:38] Jedi-hongbin commented on #40
@ken-bam  IOS has been solved. Unfortunately, Android still seems to have this problem, and so does the player
![image](https://user-images.githubusercontent.com/43171388/104011303-d3a4fd80-51e8-11eb-959b-e335523bfc2e.png)
Thank you in advance

[2021-01-08 12:07] ken-bam commented on #40
The iOS part of the player has also been update. Try version 0.0.20 of the react-native-bambuser-player, that should solve the same issue as for the iOS broadcaster.

[2021-05-29 08:39] sriteja777 opened #42 "Custom Audio Source"
Is it possible to use a custom audio source as input for the stream from this library? My use case is to create a live video stream, but instead of taking audio from microphone, I want to use a recorded audio file (Mp3, wav etc..). Is it possible to do it with this library?

[2021-06-02 19:31] adriantx opened #43 "v0.0.18 is not compatible with Android SDK v0.9.21+"
Version 0.18 of _react-native-bambuser-broadcaster_ is not compatible with Android SDK v0.9.22 and higher.

Logs of Android build:
[code]
Logs provided from building with:
[code]

[2021-06-08 15:57] devfemmy commented on #33
Has anyone been able to solve this or has a lead. I am having the same issue

[2021-06-12 06:18] devfemmy commented on #43
which version works. I was having same issue

[2021-06-12 06:23] adriantx commented on #43
Version v0.0.18 worked for me with Android SDK v0.9.21. But on emulator camera is not loading correctly sometimes, so better try a real device.

[2021-06-12 12:48] devfemmy commented on #43
I get startbroadcast not defined when I try to start the broadcast. Any
idea what I am doing wrong?

On Sat, 12 Jun 2021, 07:23 adriantx, ***@***.***> wrote:

[2021-08-21 14:16] marcelgruber commented on #21
This would require support for use in Expo's managed workflow. I would personally love to see this, given Expo's rising popularity and ease of use.

[2021-08-31 17:15] danishbutt3535 commented on #43
Version v0.0.18 with Android SDK v0.9.21. and RN 0.63.3 not working for me, any idea?

[2021-08-31 19:22] danishbutt3535 opened #44 "Version v0.0.18 with Android SDK v0.9.21, v0.9.22,v1.0.0. and RN 0.63.3 not working for me"
Version v0.0.18 with Android SDK v0.9.21, v0.9.22,v1.0.0.. and RN 0.63.3 not working for me, any idea?

[2022-06-26 11:48] yashwon1 opened #45 "Camera Not Switching"
I am not able to switch my Camera from rear to front when i Start Broadcasting, but only when i stop broadcasting this is possible. When i start it again, it possibly creates a new broadcast. I need to keep switching my cameras without stopping the broadcast

[2022-06-26 18:51] yashkbaid commented on #45
To explain the issue a little more clearly:

**Here is what we want:**
Ability to switch between front and back camera seamlessly after the stream session has started

**Here is what is happening currently**
The stream breaks/ stops (or a new one gets created without any intimation) as soon as I try to switch the camera. A stream session is 100% successful with only the front camera or only the ba

[2022-08-03 17:46] jainharsh21 commented on #45
@snobear @kemani @rasapetter any updates on this, facing the same issue.

[2022-08-09 10:19] jainharsh21 commented on #45
@peterlofquist could you please help with this?